// ==== compass ====
// ---- compass setting ----
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: true;
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// ---- normalize ----
@import "normalize";

// ---- compass import ----
@import "compass";
@import "compass/css3/user-interface"; // Don't know why must add this.

// ---- susy import ----
@import "susy";
@import "breakpoint";

// ---- setup ----
@import "setup/variables";
@import "setup/fontface";
@import "setup/color";
@import "setup/layout";
@import "setup/typography";
@import 'setup/mixin';