@import "compass/css3";



// ie message

.ie-message{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 999;
  display: table;
  .inner{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  .logo{
    position: static;
    width: 100%;
    img{
      margin: 0 auto 40px;
    }
  }
  .title{
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 50px 10px;
    background-color: #222;
    @include border-radius(4px);
    .h2{
      font-size: 18px;
      margin-bottom: 20px;
      color: #a97935;
    }
    p{
      font-size: 14px;
      letter-spacing: 1px;
    }
    a{
      padding: 0 3px;
      cursor: pointer;
    }
  }
}