.ie-message {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: 999;
  display: table;
}
.ie-message .inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.ie-message .logo {
  position: static;
  width: 100%;
}
.ie-message .logo img {
  margin: 0 auto 40px;
}
.ie-message .title {
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 50px 10px;
  background-color: #222;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.ie-message .title .h2 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #a97935;
}
.ie-message .title p {
  font-size: 14px;
  letter-spacing: 1px;
}
.ie-message .title a {
  padding: 0 3px;
  cursor: pointer;
}
