.footer
  .copyright
    .text
      p 本網站內容均受著作權法保障，除非有特別聲明，其著作權屬於統一企業(股)公司或其他內容提供者所有，請勿將全部或部分圖文內容轉載於任何形式媒體
      span Copyright © 2015  Uni-President Enterprises Corp., All rights reserved.
  .mobile-logo
    .uni-president
    .presco