.header
  .logo data-menuanchor="Home" = link_to "左岸咖啡館", "#Home"
  .main-nav
    .share-facebook = link_to "", "https://www.facebook.com/lecafe.tw"
    .nav
      ul#mainNav
        li data-menuanchor="Home" = link_to "左岸咖啡館", "#Home"
        li data-menuanchor="Products" = link_to "嗜左岸", "#Products"
        li data-menuanchor="Video" = link_to "法式電影藝廊", "#Video"
        li data-menuanchor="Event" = link_to "浪漫活動時光", "#Event"
    .toggle
      a href="#"
        .toggle-text MENU
        .toggle-icon: span