/[if lt IE 10]
  .ie-message
    .inner
      .logo
        img src="asset/images/icon-logo.png" alt="左岸咖啡館"
      .title 
        p.h2 我們偵測到您使用的瀏覽器版本過舊
        p 為了能有更舒適的瀏覽環境<br/>建議您<a href="http://windows.microsoft.com/zh-tw/internet-explorer/download-ie" target=_blank>更新</a>您的瀏覽器版本或使用 <a href="https://www.google.com.tw/chrome/browser/desktop/" target=_blank>Google Chrome</a>, <a href="https://www.mozilla.org/zh-TW/firefox/new/" target=_blank>Firefox</a> 瀏覽器