doctype 5
html lang="zh-TW"
  head
    = render "/layout_head"
    
  body.is-loading
    = render "/ie-message"
    = render "/loading"
    = render "/header"
    .page
      = yield

    = render "/layout_foot"
    = render "/layout_livereload"