script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
script type="text/javascript" src="asset/vendor/modernizr.js"
script type="text/javascript" src="asset/vendor/jpreloader.min.js"
script type="text/javascript" src="asset/vendor/jquery.easings.min.js"
script type="text/javascript" src="asset/vendor/jquery.slimscroll.min.js"
script type="text/javascript" src="asset/vendor/jquery.fullPage.min.js"
script type="text/javascript" src="asset/vendor/jquery.bxslider.min.js"
script type="text/javascript" src="asset/js/all.js"

/ = javascript_include_tag \
/   "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
/   "asset/vendor/modernizr.js", \
/   "asset/vendor/jpreloader.min.js", \
/   "asset/vendor/jquery.easings.min.js", \
/   "asset/vendor/jquery.slimscroll.min.js", \
/   "asset/vendor/jquery.fullPage.min.js", \
/   "asset/vendor/jquery.bxslider.min.js", \
/   "all"