meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
link rel="shortcut icon" type="image/png" href="asset/images/favicon.png"

= render "/layout_siteinfo"
= render "/layout_og"

link rel="stylesheet" media="screen" type="text/css" href="asset/css/all.css"
/[if lt IE 10]
  link rel="stylesheet" media="screen" type="text/css" href="asset/css/ie.css"

/= stylesheet_link_tag "all"