meta content= data["site-title"] property="og:title"
meta content= data["site-name"] property="og:site_name"
meta content= data["site-url"] property="og:url"
meta content= data["og-image"] property="og:image"
meta content= data["site-description"] property="og:description"
meta content= data["og-type"] property="og:type"
meta content= data["fb-admins"] property="fb:admins"