section.fullscreen
  .fullscreen-img
    / .slide = link_to image_tag('asset/images/sample_fullscreen.jpg', :alt => "SEO用"), "#"
    / .slide
    /   a href="#"
    /     img src="asset/images/sample_fullscreen.jpg" alt="SEO用"
    /     .slide-text
    /       p 浪漫的，其實不是形式。<br/>只要在生活裡摻入一點我的個性、我的創意，再添加一些勇氣，也能讓平凡變的浪漫，我的法式浪漫就這麼迸發在生活裡。
    /       p.bottom《我的法式浪漫》
    / .slide
    /   a href="https://www.youtube.com/watch?v=jowlnuLOM28&list=PLcEBr0MQESKMFCUeBu1lO-1G9LpDmN-eP" target="_blank"
    /     img src="asset/images/sample_fullscreen03.jpg" alt="SEO用"
    / .slide
    /   a href="#"
    /     img src="asset/images/sample_fullscreen02.jpg" alt="SEO用"
    / .slide
    /   iframe class="iframeVideo" width="630" height="472" src="https://www.youtube.com/embed/jowlnuLOM28?enablejsapi=1&version=3&playerapiid=ytplayer&rel=0" frameborder="0" allowfullscreen="allowfullscreen" autoplay=''
    / .slide
    /   iframe class="iframeVideo" width="630" height="472" src="https://www.youtube.com/embed/5c6xVNC0mys?enablejsapi=1&version=3&playerapiid=ytplayer&rel=0" frameborder="0" allowfullscreen="allowfullscreen" autoplay=''
    ul.bxSlide-index
      li 
        a href="#"
          img src="asset/images/sample_fullscreen.jpg" alt="SEO用"
          .slide-text
            p 浪漫的，其實不是形式。<br/>只要在生活裡摻入一點我的個性、我的創意，再添加一些勇氣，也能讓平凡變的浪漫，我的法式浪漫就這麼迸發在生活裡。

      li
        a href="https://www.youtube.com/watch?v=jowlnuLOM28&list=PLcEBr0MQESKMFCUeBu1lO-1G9LpDmN-eP" target="_blank"
          img src="asset/images/sample_fullscreen03.jpg" alt="SEO用"
      li
        a href="#"
          img src="asset/images/sample_fullscreen02.jpg" alt="SEO用"
      / li
      /   .embed-responsive
      /     / iframe class="youtube-video" width="420" height="315" src="https://www.youtube.com/embed/jowlnuLOM28" frameborder="0" allowfullscreen="allowfullscreen" autoplay=''
      /     / img class="ratio" src="asset/images/bg_169.png"
      /     / div class="youtube-video" id="jowlnuLOM28"
      /   .slide-text
      /     p 浪漫的，其實不是形式。<br/>只要在生活裡摻入一點我的個性、我的創意，再添加一些勇氣，也能讓平凡變的浪漫，我的法式浪漫就這麼迸發在生活裡。

      / li
      /   .embed-responsive
      /     / iframe width="420" height="315" src="https://www.youtube.com/embed/5c6xVNC0mys" frameborder="0" allowfullscreen="allowfullscreen" autoplay=''
      /     / img class="ratio" src="asset/images/bg_169.png"
      /     / div class="youtube-video" id="5c6xVNC0mys"
      /   .slide-text
      /     p 浪漫的，其實不是形式。<br/>只要在生活裡摻入一點我的個性、我的創意，再添加一些勇氣，也能讓平凡變的浪漫，我的法式浪漫就這麼迸發在生活裡。
  .mouse-wheel
    .wheel