section.event
  .title
    h1 Event <p>浪漫活動時光</p>

  .event-list
    ul.bxSlide-event
      - 8.times do |i|
        li
          a href="#"
            .img
              img src="asset/images/sample_event.jpg" alt="SEO用"
            .descripition
              .subject 換你說~“我的法式浪漫” #{i}
              .date 2015.08

  .event-timeline
    div#timeline-list

  = render "footer"