- video_list_id = ['jowlnuLOM28','5c6xVNC0mys','HazZnA_XVfg','xWmPSdHxNWk','OBCDYzLUAcg']
- video_list_title = ['【我的法式浪漫】 第一話【狗狗情聖】','【我的法式浪漫】 第二話 【失約的盛宴】','【我的法式浪漫】 第三話 【舌吻的兩種可能】','【我的法式浪漫】 第四話 【一個人睡？兩個人睡？】','左岸咖啡館_浪漫巴黎篇 TVC 20s']
- video_list_desc = ['溫柔、體貼、性格陽光、幽默風趣、可愛有型…當完美情人出現時，還有什麼好擔心的？當­然擔心！你會擔心他對別人一樣溫柔、體貼、性格陽光、幽默風趣，在別人眼中一樣可愛有­型！唉～難道這是情聖的原罪嗎？','法國菜，精緻，昂貴，隆重，豐盛，是眾家戀人慶祝紀念日、或者每逢佳節的浪漫首選。當­滿心期待的法國菜，因突如其來的加班而破局，心有不甘的你，會默默回家吃自己，還是掀­起一場…法國大革命？','在愛情的漫漫長路上，當絢爛歸於平淡、當激情漸漸降溫、當新科戀人變成老夫老妻…當初­的好情人，會不會退化成大笨牛？當降溫的愛情、迎面撞上火熱的激情，一個來自法式舌吻­的震撼彈，會產生什麼化學反應？','一家床店，陰錯陽差地進了一張怪床；它是你到歐洲旅遊、才會在飯店遇到，所謂的「French bed」。它的尺寸，介於「標準」單人床、和「標準」雙人床之間。你需要一張標準的床，來證明自己擁有標準的愛情嗎？','兩人世界中，個性是必要的<br/>不為了誰而改變']


section.film
  .title
    h1 Video <p>法式電影藝廊</p>
  .video-area.container
    .video-list
      ul.bxSlide-video
        - 5.times do |i|
          li
            .video
              iframe class="iframeVideo" width="927" height="580" src="https://www.youtube.com/embed/#{video_list_id[i]}" frameborder="0" allowfullscreen=""
              / div class="youtube-video" id="#{video_list_id[i]}"
            .info
              .name #{video_list_title[i]}
              .descripition #{video_list_desc[i]}


    .video-menu
      ul
        - 5.times do |i|
          / li style="background-image: url(http://img.youtube.com/vi/#{video_list_id[i]}/mqdefault.jpg)" data-index="#{i}"
          li
            a href="#"
              .name #{video_list_title[i]}
              .descripition #{video_list_desc[i]}

  .mouse-wheel
    .wheel