- productSubject = ['昂列奶茶','昂列咖啡','拿鐵咖啡','曼特寧咖啡','不加糖拿鐵']
- productText = ['柔和茶香與濃醇奶香的均衡調和；茶香與奶香的層層融合，適合一個和自己對話的悠閒午後，留給享受自我浪漫的你。','萃取前段的咖啡精華，咖啡香醇濃郁卻不失去奶香風味；咖啡與奶浪漫融和，各自保留優雅的美好，如同法國人工作不失對生活的堅持，一杯法式咖啡，留給享受極致浪漫的你。','咖啡與奶的平衡比例，造就法式原味；如同咖啡與奶的浪漫協調，生活因細節而美好，一杯法式咖啡，留給享受細膩浪漫的你。','法式深度烘焙，顯現咖啡強度；美好的事物值得等待，用隨性的悠閒步調，忘記時間，喚醒濃烈的咖啡靈魂，一杯法式咖啡，留給享受濃烈浪漫的你。','法式深度烘焙，顯現咖啡強度；美好的事物值得等待，用隨性的悠閒步調，忘記時間，喚醒濃烈的咖啡靈魂，一杯法式咖啡，留給享受濃烈浪漫的你。']

section.products
  .product-list
    .product-block
        .title
            h1 Coffee <p>嗜左岸</p>
        .product-slide
          ul.bxSlide-product
            - 5.times do |i|
              li
                img src="asset/images/img-product_0#{i+1}.png" alt="SEO用標題"
                .subject #{productSubject[i]}
                .text #{productText[i]}

  .product-image
    ul.bxSlide-product-image
      - 5.times do |i|
        li style="background-image:url(asset/images/img-product_0#{i+1}_image.jpg)"
  .mouse-wheel
    .wheel
