// layout-debug
$grid-background-column-color: rgba(#f15a14,.1);
$grid-background-baseline-color: rgba(#009a8e,.1);

//======== Base Color ========
$color-darken-black: #000;
$color-black: #333;
$color-lighter-black: #666;
$color-gray: #999;
$color-middle-gray: #e9e9e9;
$color-lighter-gray: #f0f2f0;

$color-active: #a97935;

//======== Global Setting ========
// component
$global-divider: #a0a0a0;




// text
$global-link-color: $color-black;
$global-link-hover-color: $color-active;

// background & border