// susy setup
$susy: (
  columns:12,
  math: fulid,
  column-width:140px,
  gutter-position: after,
  gutters: 1/7,
);

$susy-pad: (
  columns:8,
  math: fulid,
  column-width:60px,
  gutter-position: after,
  gutters:0,
);

$susy-desktop: (
  columns:12,
  math: fulid,
  column-width:60px,
  gutter-position: after,
  gutters:1/3,
);

$susy-desktop-hd: (
  columns:12,
  math: fulid,
  column-width:80px,
  gutter-position: after,
  gutters: 1/4,
);

// susy breakpoint
$desktop-hd: max-width 1450px;
$desktop: max-width 1024px;
$pad: max-width 768px;
$mobile: max-width 480px;


html{

}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include transition(opacity 400ms ease);
}
@include breakpoint($pad){
  html, body {
    height: auto;
    overflow: initial;
  }
}
.page{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  @include transition(all 700ms cubic-bezier(.67,0,.16,1));
  // @include transform-style(preserve-3d);
}
.container{
  @include container();
  @include box-sizing(border-box);
  padding: 0 10px;
  @include susy-breakpoint($desktop-hd, $susy-desktop-hd){
    @include container();
  }
  @include susy-breakpoint($desktop, $susy-desktop){
    @include container();
  }
  @include susy-breakpoint($pad, $susy-pad){
    @include container();
  }
}
