@include establish-baseline;

%fontfamily {
  font-family: "Microsoft Jhenghei",  Helvetica, "STHeitiTC-Light", Arial, sans-serif;
  font-style: normal;
}

%ulreset {
  list-style: none;
  margin: 0;
  padding:  0;
}



body {
  @extend %fontfamily;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color-black;
}

// heading
#{headings()} {
  @include reset-box-model;
  font-weight: normal;
}
h1 {
  @include adjust-font-size-to($font-size-xxl);
}
h2 {
  @include adjust-font-size-to($font-size-xl);
}
h3 {
  @include adjust-font-size-to($font-size-l);
}
h4 {
  @include adjust-font-size-to($font-size-m);
}
h5 {
  @include adjust-font-size-to($font-size-s);
}
h6 {
  @include adjust-font-size-to($font-size-xs);
}

p {
  @include leader(0);
  @include trailer(0);
  @include adjust-font-size-to($base-font-size);
}


// 引用他處文獻
blockquote {
  @include reset-box-model;
  @include leader(1);
  @include trailer(1);
  border-left: 3px solid $global-divider;
  padding-left: rhythm(1);
  @include adjust-font-size-to($base-font-size);
}



// list
ol, ul {
  @include leader(0);
  @include trailer(0);
  ol, ul {
    margin: 0;
    padding: 0;
  }
}

dl {
  @include leader(1);
  @include trailer(1);
  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;

  }
}


// inline style
a {

  @include link-colors($global-link-color, $global-link-hover-color);
  // @include hover-link;
  // @include unstyled-link;
  text-decoration: underline;
  img {
    border: none;
  }
}

img {
  max-width: 100%;
  @include trailer(0);
  display: block;
}

// divider
hr, .divider {
  @include leader(1);
  @include trailer(1);
  border-top: 1px solid $global-divider;
}