$image-path:"../images";

// layout
$desktop-container-width: 980px;


//======== Typography ========
// font-size
$font-size-xxl: $base-font-size * 2;     // 24px
$font-size-xl: $base-font-size * 1.25;   // 20pt
$font-size-l: $base-font-size * 1.125;   // 18pt
$font-size-m: $base-font-size * 1;      // 16pt
$font-size-s: $base-font-size * .875;   // 14pt
$font-size-xs: $base-font-size * .75;   // 12pt


//======== Partials ========

//======== component =========


