.footer{
  position: relative;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  // @include breakpoint($desktop-hd){
  //   position: relative;
  //   height: auto;
  // }
  // @include breakpoint($desktop){
  //   position: relative;
  //   // height: auto;
  // }
  @include breakpoint($pad){
    // position: absolute;
    // height: 170px;
  }
  @include breakpoint($mobile){
    // position: relative;
    // height: 230px;
  }
}
.copyright{
  width: 70%;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  &:before,
  &:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
  }
  &:before{
    width: 60px;
    height: 40px;
    background-image: url(#{$image-path}/icon-logo_footer_01.png);
    background-size: 60px 40px;
    // @include background-image-retina("#{$image-path}/icon-logo_footer_01","png", 60px, 40px);
  }
  &:after{
    width: 88px;
    height: 28px;
    background-image: url(#{$image-path}/icon-logo_footer_02.png);
    background-size: 88px 28px;
    // @include background-image-retina("#{$image-path}/icon-logo_footer_02","png", 88px, 28px);
  }
  .text{
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }
  p{
    text-align: left;
  }
  span{
    display: block;
    text-align: left;
  }
  @include breakpoint($desktop-hd){
    width: 80%;
  }
  @include breakpoint($desktop){
    width: 90%;
    padding: 10px 0 0 0;
    .text{
      width: 70%;
      padding: 0 2%;
    }
  }
  @include breakpoint($pad){
    width: 100%;
    background-color: #222;
    color: white;
    p,span{
      text-align: center;
    }
    &:before,
    &:after{
      display: none;
    }
  }
}
@include breakpoint($pad){
  .mobile-logo{
    text-align: center;
    background-color: white;
    padding: 10px 0;
    & > div{
      margin: 0 10px;
    }
    .uni-president{
      display: inline-block;
      width: 60px;
      height: 40px;
      background-image: url(#{$image-path}/icon-logo_footer_01.png);
      background-size: 60px 40px;
    }
    .presco{
      display: inline-block;
      width: 88px;
      height: 28px;
      background-image: url(#{$image-path}/icon-logo_footer_02.png);
      background-size: 88px 28px;
    }
  }
}
