.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: transparent;
  z-index: 2;
  @include transition(all 400ms ease);
  &:hover,
  &.is-leave{
    background-color: rgba(black, .8);
  }
  @include breakpoint($desktop-hd){
    height: 100px;
  }
  @include breakpoint($pad){
    height: 80px;
    background-color: $color-active;
    &:hover,&.is-leave{
      background-color: $color-active;
    }
  }
  @include breakpoint($mobile){
    height: 60px;
  }
}

.logo{
  position: absolute;
  left: 30px;
  top: 30px;
  a{
    display: block;
    width: 175px;
    height: 90px;
    text-indent: -500%;
    @include background-image-retina("#{$image-path}/icon-logo", "png", 175px, 90px);
  }
  @include breakpoint($desktop-hd){
    top: 20px;
    left: 20px;
    a{
      width: 125px;
      height: 64px;
      background-size: 125px 64px;
      @include background-image-retina("#{$image-path}/icon-logo", "png", 125px,64px);
    }
  }
  @include breakpoint($pad){
    top: 10px;
    left: 10px;
    a{
      width: 117px;
      height: 60px;
      background-size: 117px 60px;
      @include background-image-retina("#{$image-path}/icon-logo", "png", 117px, 60px);
    }
  }
  @include breakpoint($mobile){
    a{
      width: 78px;
      height: 40px;
      background-size: 78px 40px;
      background-image: url(#{$image-path}/icon-logo@2x.png);
    }
  }
}

.main-nav{
  position: absolute;
  top: 60px;
  right: 30px;
  @include breakpoint($desktop-hd){
    top: 40px;
  }
  @include breakpoint($pad){
    top: 30px;
  }
  @include breakpoint($mobile){
    top: 20px;
    right: 20px;
    width: 50%;
    text-align: right;
  }
}

.share-facebook{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: 0 0;
  @include background-image-retina("#{$image-path}/icon-fb", "png", 48px, auto);
  vertical-align: middle;
  margin-right: 10px;
  @include transition(all 275ms cubic-bezier(.67,0,.16,1));
  &:hover,
  &:focus{
    background-position: -24px 0;
  }
  a{
    display: block;
    width: 24px;
    height: 24px;
  }
  @include breakpoint($mobile){
    width: 20px;
    height: 20px;
    background-image: url(#{$image-path}/icon-fb@2x.png);
    background-size: 40px auto;
    &:hover{
      background-position: -20px 0;
    }
  }
}
.nav{
  // display: none;
  display: inline-block;
  height: 25px;
  width: 0;
  overflow: hidden;
  vertical-align: middle;
  @include transition(all 400ms cubic-bezier(.67,0,.16,1));
  ul{
    @extend %ulreset;
  }
  li{
    display: inline-block;
    &:before{
      content: "/";
      padding: 0 5px;
      display: inline;
      color: white;
    }
  }
  li a{
    font-size: $font-size-l;
    color: white;
    text-decoration: none;
    @include transition(all 400ms ease);
    
    &:hover{
      color: $color-active;
    }
  }
  li.active a{
    color: $color-active;
  }
  li:first-child{
    &:before{
      content: none;
    }
  }
  &.open{
    width: 440px;
  }
  @include breakpoint($pad){
    // li{
    //   display: block;
    //   text-align: center;
    // }
    li a{
      // font-size: $font-size-xl;
      color: white;
      // text-decoration: none;
      // &:before{
      //   content: "";
      // }
      &:hover{
        color: white;
      }
    }
    li.active a{
      color: white;
      text-decoration: underline;
    }
  }
  @include breakpoint($mobile){
    display: block;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 0%;
    left: 0;
    top: 60px;
    background-color: $color-active;
    ul{
      padding-top: 2em;
    }
    li{
      display: block;
      text-align: center;
      line-height: 60px;
      &:before{
        content: none;
      }
    }
    li a{
      font-size: $font-size-xl;
      color: white;
      text-decoration: none;
      &:hover{
        color: white;
      }
    }
    li.active a{
      color: white;
      text-decoration: none;
    }
    li:first-child a{
      &:before{
        content: none;
      }
    }
    &.open{
      width: 100%;
      height: 100%;
    }
  }
}

.toggle{
  display: inline-block;
  a{
    display: block;
    color: white;
    text-decoration: none;
  }
  a:hover{
    .toggle-icon{
      span,&:before,&:after{
        background-color: $color-active;
      }
    }
    .toggle-text{
      color: $color-active;
    }
  }
  .toggle-icon{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 30px;
    height: 20px;
    span{
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      background-color: white;
      top: 50%;
      margin-top: -1px;
      @include opacity(1);
      @include transition(all 400ms ease);
    }
    &:before,
    &:after{
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      background-color: white;
      @include transition(all 400ms ease);
      @include rotate(0);
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
  }
  a.active {
    .toggle-icon{
      span{
        @include opacity(0);
      }
      &:before,
      &:after{
        background-color: $color-active;
      }
      &:before{
        top: 45%;
        @include rotate(45deg);
      }
      &:after{
        bottom: 45%;
        @include rotate(-45deg);
      }
    }
    .toggle-text{
      color: $color-active;
    }
  }
  
  .toggle-text{
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 10px;
    color: white;
    @include transition(color 275ms ease);
  }
  @include breakpoint($pad){
    a:hover{
      .toggle-icon{
        span,&:before,&:after{
          background-color: white;
        }
      }
      .toggle-text{
        color: white;
      }
    }
    a.active{
      .toggle-icon{
        &:before,
        &:after{
          background-color: white;
        }
      }
      .toggle-text{
        color: white;
      }
    }
  }
  @include breakpoint($mobile){
    .toggle-text{
      font-size: 14px;
    }
  }
}

