.is-loading{
  .loading{
    @include translate3d(0, 0, 0);
    .logo{
      @include opacity(1);
    }
  }
}

.is-loaded{
  .loading{
    @include translate3d(0, -200%, 0);
    .logo{
      @include opacity(0);
    }
  }
}

.loading{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #111;
  @include transition(all 700ms cubic-bezier(.67,0,.16,1) 500ms);
  z-index: 99;
  top: 0;
  .logo{
    display: block;
    position: fixed;
    width: 175px;
    height: 90px;
    @include background-image-retina(#{$image-path}/icon-logo, png, 175px, 90px);
    left: 50%;
    top: 50%;
    margin: -45px 0 0 -88px;
    @include transition(all 400ms ease);
  }
}

#jpreOverlay{
  z-index: 99 !important;
}

#jpreLoader{
  width: 100%;
  height: 100%;
  top: 0 !important;
}

#jpreBar{
  position: fixed;
  height: 3px !important;
  background-color: $color-active;
  bottom: 0;
  left: 0;
}

#jprePercentage{
  position: absolute !important;
  top: 65%;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-left: -25px;
}


#jpreButton{
  display: none;
}