section{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .title{
    text-align: center;
    h1{
      font-family: 'Libre Baskerville', serif;
      color: $color-active;
      font-size: 50pt;
      line-height: 1em;
      p{
        font-size: 26pt;
        color: $color-black;
        @extend %fontfamily;
      }
    }
    @include breakpoint($desktop-hd){
      h1{
        font-size: 42px;
        p{
          font-size: 22px;
        }
      }
    }
    @include breakpoint($mobile){
      h1{
        font-size: 40px;
        p{
          font-size: 20px;
        }
      }
    }
  }
  @include breakpoint($pad){
    height: auto;
    overflow: inherit;
  }
}