

.fullscreen{
  background-color: #000;
  .fullscreen-img{
    position: relative;
  }
  .embed-responsive{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -236px 0 0 -315px;
    z-index: 1;
    // padding: 0 50px;
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 0;
      $svg-gradient-shim-threshold: 1 !global;
      @include background-image(linear-gradient(to right, #0665C8 0%, #0665C8 33%, #ffffff 33%, #ffffff 66%, #EC293A 66%, #EC293A 100%));
      position: absolute;
      top: -10px;
      left: 0;
      z-index: 2;
    }
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px;
      @include background-image(linear-gradient(to bottom, #0665C8 0%, #0665C8 33%, #ffffff 33%, #ffffff 66%, #EC293A 66%, #EC293A 100%));
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 1;
    }
    .ratio{
      display: none;
    }
    iframe,video{
      width: 630px;
      height: 472px;
      display: block;
      position: relative;
      z-index: 3;
    }
    &~.slide-text{
      display: none;
    }
    @include breakpoint($pad){
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      &:before{
        width: 89.9%;
        height: 90%;
        left: 5%;
      }
      &:after{
        width: 90%;
        height: 90%;
        padding: 10px 2%;
        left: 2.8%;
      }
      .ratio{
        display: block;
        width: 100%;
        height: auto;
        opacity: 0;
      }
      iframe,video{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    @include breakpoint($mobile){
      &~.slide-text{
        display: block;
      }
    }
  }
  .videoBg{
    width:100%;
    height:100%;
    position:relative;
    z-index:0;
    background-size:cover;
    background-position:center center;
    @include filter(blur(14px));
    @include opacity(0.4);
  }
  // .slide{
  //   overflow: hidden;
  // }
  // .slide img{
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   max-width: none;
  // }
  .slide-text{
    position: absolute;
    padding: 20px;
    background-color: rgba(black,.5);
    color: white;
    z-index: 10;
    left: 5%;
    bottom: 5%;
    width: 450px;
    @include box-sizing(border-box);
    p{
      font-size: 16px;
      text-align: left;
      line-height: 170%;
    }
    p.bottom{
      margin-top: 10px;
      text-align: right;
    }
    @include breakpoint($pad){
      width: 60%;
      p{
        font-size: 13px;
      }
    }
    @include breakpoint($mobile){
      position: static;
      width: 90%;
      left: inherit;
      right: inherit;
      bottom: inherit;
      top: inherit;
      background-color: black;
      padding: 10px;
      p{
        font-size: 12px;
        line-height: 150%;  
      }
    }
  }
  .fp-tableCell{
    position: relative;
    text-align: center;
  }
  .fp-controlArrow{
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba($color-active, .8);
    text-indent: 100%;
    overflow: visible;
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -40px;
    z-index: 2;
    &.fp-prev{
      left: 0;
      @include background-image-retina("#{$image-path}/icon-arrow_prev", "png", 20px, 40px);
    }
    &.fp-next{
      right: 0;
      @include background-image-retina("#{$image-path}/icon-arrow_next", "png", 20px, 40px);
    }
    @include breakpoint($desktop){
      top: 50%;
      margin-top: -40px;
      &.fp-prev{
        left: 0;
        right: auto;
      }
    }
    @include breakpoint($mobile){
      width: 44px;
      height: 44px;
      top: inherit;
      bottom: 0;
      margin-top: 0;
      // top: auto;
      // margin-top: 0;
      &.fp-prev{
        @include background-image-retina("#{$image-path}/icon-arrow_prev", "png", 10px, 20px);
      }
      &.fp-next{
        @include background-image-retina("#{$image-path}/icon-arrow_next", "png", 10px, 20px);
      }
    }
  }
  ul{
    @extend %ulreset;
    // display: table;
  }
  li{
    width: 100%;
    overflow: hidden;
    position: relative;
    // display: table-cell;
    // vertical-align: middle;
    @include breakpoint($pad){
      overflow: inherit;
    }
  }
  li a{
    text-decoration: none;
  }
  li img{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: none;
    // @include breakpoint($desktop){
    //   position: relative;
    //   top: 100%;
    //   margin-top: 0 !important;
    // }
    @include breakpoint($pad){
      position: static;
      left: 0;
      top: 0;
      max-width: 100%;
      overflow: inherit;
    }
  }
  .bx-controls-direction{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -40px;
    a{
      display: block;
      width: 80px;
      height: 80px;
      background-color: rgba($color-active, .8);
      text-indent: 100%;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
    }
    .disabled{
      // display: none;
      background-color: rgba($color-gray, .8);
      @include opacity(.5);
      cursor: default;
    }
    .bx-prev{
      left: 0;
      @include background-image-retina("#{$image-path}/icon-arrow_prev", "png", 10px, 20px);
    }
    .bx-next{
      right: 0;
      @include background-image-retina("#{$image-path}/icon-arrow_next", "png", 10px, 20px);
    }
    @include breakpoint($mobile){
      top: inherit;
      bottom: 44px;
      a{
        width: 44px;
        height: 44px;
      }
    }
  }
  @include breakpoint($pad){
    margin-top: 80px;
  }
  @include breakpoint($mobile){
    margin-top: 60px;
  }
}

.mouse-wheel{
  position: absolute;
  left: 50%;
  bottom: 50px;
  border: 3px solid white;
  width: 18px;
  background-color: transparent;
  height: 35px;
  margin-left: -9px;
  @include border-radius(18px);
  z-index: 99;
  @include breakpoint($desktop-hd){
    bottom: 80px;
  }
  @include breakpoint($desktop){
    display: none;
  }
  &:hover{
    cursor: pointer;
  }
  .wheel{
    width: 1px;
    height: 1px;
    border: 2px solid white;
    background-color: white;
    position: relative;
    @include border-radius(50%);
    left: 50%;
    margin-left: -2px;
    top: 7px;
    @include animation(wheelscroll 1s infinite);
  }
}
@include keyframes(wheelscroll){
  0% {
      top: 6px;
      @include opacity(0);
    }
    20% {
      @include opacity(1);
    }
    80% {
      @include opacity(1);
    }
    100% {
      top: 20px;
      @include opacity(0);
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .fullscreen .slide img{
      top: auto;
    }
}

.mejs-offscreen{
  display: none;
}
