.products{
  background-color: #e0e0e0;
  position: relative;
  @include pie-clearfix;
  .product-list,
  .product-image{
    width: 50%;
    height: 100%;
    // float: left;
    ul{
      @extend %ulreset;
    }
  }
  .product-block{
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
  }
  .product-list{
    position: relative;
    // display: table-cell;
    text-align: center;
  }
  .product-image{
    top: 0;
    right: 0;
    position: absolute;
  }
  @include breakpoint($desktop){
    .product-list{
      display: block;
    }
  }
  @include breakpoint($pad){
    .product-block{
        position: static;
        top: inherit;

    }
    .product-list{
      // float: none;
      width: 100%;
      padding-bottom: 100px;
    }
    .product-image{
      width: 100%;
      float: none;
      position: absolute;
      top: 0;
      z-index: 0;
    }
  }
  @include breakpoint($mobile){
    .product-list{
      padding-bottom: 50px;
    }
  }
}

.product-list{
  // padding-top: 10%;
  z-index: 1;
  .title{
    padding-top: 80px;
    margin-bottom: 2%;
  }
  @include breakpoint($desktop-hd){
    // padding-top: 5%;
    .title{
      padding-top: 60px;
      margin-bottom: 2%;
    }
  }
  @include breakpoint($desktop){
    // padding-top: 5%;
    .title{
      padding-top: 60px;
      margin-bottom: 2%;
    }
  }
  @include breakpoint($pad){
    // padding-top: 120px;
    .title{
      padding-top: 120px;
    }
  }
  @include breakpoint($mobile){
    // padding-top: 80px;
    .title{
      padding-top: 80px;
    }
  }
}

.product-slide{
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 50px;
  max-width: 900px;
  @include breakpoint($desktop-hd){
    padding: 0 20px;
  }
  @include breakpoint($desktop){
    padding: 0 10px;
  }
  @include breakpoint($pad){
      padding: 0 50px;
  }
  @include breakpoint($mobile){
    padding: 0 10px;
    width: 100%;
  }
  ul{
    z-index: 0;
  }
  li{
    text-align: center;
    z-index: 0;
    // min-height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    @include breakpoint($desktop-hd){
      min-height: 400px;
    //   background-size: cover;
    }
    @include breakpoint($mobile){
      min-height: initial;
    }
  }
  @for $i from 1 through 5{
    li:nth-child(#{$i}){
      background-image: url(#{$image-path}/bg-product_bg_0#{$i}.png);
    }
  }
  img{
    max-width: none;
    display: block;
    margin: 0 auto;
    padding: 50px 0 40px 0;
    width: 200px;
    @include breakpoint($desktop-hd){
      padding: 20px 0;
    }
    @include breakpoint($desktop){
      width: 160px;
    }
    @include breakpoint($mobile){
      width: 150px;
    }
  }
  .subject{
    font-size: 32px;
    margin-bottom: 15px;
    @include breakpoint($mobile){
      font-size: 26px;
    }
  }
  .text{
    font-size: 14px;
    @include breakpoint($mobile){
      padding: 0 15px;
    }
  }
  .bx-controls-direction{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    z-index: 10;
    a{
      position: absolute;
      display: block;
      width: 36px;
      height: 70px;
      background-size: 72px 70px;
      text-indent: -99999px;
      background-repeat: no-repeat;
      @include transition(all 275ms ease);
    }
    .disabled{
      display: none;
    }
    .bx-prev{
      left: 0;
      background-position: 0 0;
      background-image: url(#{$image-path}/icon-arrow_prev_b@2x.png);
      background-size: 72px 70px;
      // @include background-image-retina("#{$image-path}/icon-arrow_prev_b", "png", 72px, 70px);
      &:hover{
        background-position: -36px 0;
      }
    }
    .bx-next{
      background-position: -36px 0;
      right: 0;
      background-image: url(#{$image-path}/icon-arrow_next_b@2x.png);
      background-size: 72px 70px;
      // @include background-image-retina("#{$image-path}/icon-arrow_next_b", "png", 72px, 70px);
      &:hover{
        background-position: 0 0;
      }
    }
    @include breakpoint($mobile){
      top: 20%;

      a{
        width: 26px;
        height: 50px;
      }
      .bx-prev{
        left: 20px;
        background-image: url(#{$image-path}/icon-arrow_prev_m@2x.png);
        background-size: 52px 50px;
        &:hover{
          background-position: -26px 0;
        }
      }
      .bx-next{
        right: 20px;
        background-position: -26px 0;
        background-image: url(#{$image-path}/icon-arrow_next_m@2x.png);
        background-size: 52px 50px;
      }
    }
  }
  .bx-pager{
    margin-top: 30px;
    // @include breakpoint($desktop){
    //   display: none;
    // }
    @include breakpoint($desktop){
      margin: 0;
    }
    @include breakpoint($pad){
      margin: 40px 0 0 0;
    }
    @include breakpoint($mobile){
      display: none;
    }
    text-align: center;
    & > div{
      display: inline-block;
      width: 70px;
      height: 88px;
      margin: 0 20px;
      position: relative;
      @include breakpoint($desktop-hd){
        width: 56px;
        height: 70px;
      }
      @include breakpoint($desktop){
        margin: 0 10px;
      }
    }

    .bx-pager-item{
      a{
        // background-image: url(#{$image-path}/img-product_0#{$i}_thumb.png);
        @include opacity(.5);
        background-size: 70px 88px;
        background-position: center center;
      }
      &:hover,
      &.is-active{
        a{
          @include translate3d(0, -20px, 0);
          @include opacity(1);
        }
        &:after{
          @include scale(2,1);
          @include filter(blur(2px));
          background-color: rgba($color-gray, .5);
        }
      }
      &:after{
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 5px;
        @include border-radius(50%);
        @include transition(all 275ms ease);
        background-color: rgba($color-gray, .8);
        left: 50%;
        bottom: 0;
        margin-left: -10px;
        z-index: 0;
      }
      @include breakpoint($desktop-hd){
        a{
          background-size: 56px 70px;
        }
      }
    }
    a{
      position: relative;
      z-index: 1;
      display: block;
      width: 100%;
      height: 88px;
      text-indent: -99999px;
      @include transition(all 275ms ease);
      @include breakpoint($desktop-hd){
        height: 70px;
        background-size: cover;
      }
    }
  }
}

.product-image{
  position: relative;
  position: absolute;
  ul li{
    // position: absolute;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  .bx-controls-direction{
    display: none;
  }
  @include breakpoint($pad){
    z-index: 0;
    @include opacity(.1);
    left: 0;
    ul li{
      padding-top: 80px;
      height: 100vh !important;
    }
  }
}
