.event{
  background-color: #e0e0e0;
  background-image: url(#{$image-path}/bg-section_event.jpg);
  background-size: cover;
  // padding-top: 5%;
  .title{
    margin-bottom: 2%;
  }
  ul{
    @extend %ulreset;
  }
  @include breakpoint($desktop-hd){
    // padding-top: 2%;
    padding-top: 0;
    .title{
      margin-bottom: 2%;
    }
  }
  @include breakpoint($desktop){
    // padding-top: 0;
    .fp-tableCell{
      vertical-align: top;
    }
    .title{
      padding-top: 80px;
    }
  }
  @include breakpoint($pad){
    padding-top: 0;
    .title{
      padding-top: 120px;
    }
  }
  @include breakpoint($mobile){
    // padding-bottom: 250px;
    .title{
      padding-top: 80px;
    }
  }
}

.event-list{
  width: 100%;
  margin: 0 auto;
  .bx-wrapper{
    width: 800px;
    margin: 0 auto;
    position: static;
  }
  @include breakpoint($desktop){
    position: relative;
    .bx-wrapper{
      width: 70%;
    }
  }
  @include breakpoint($pad){
    width: 70%;
    position: relative;
    .bx-wrapper{
      width: 100%;
    }
  }
  @include breakpoint($mobile){
    width: 90%;
  }
  a{
    @include transition(all 275ms ease);
    text-decoration: none;
  }
  .img{
    position: relative;
    &:before{
      content:"";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include box-shadow(inset 0 0 0 5px white);
      z-index: 1;
    }
  }
  img{
    position: relative;
    z-index: 0;
    // max-width: none;
  }
  .descripition{
    @include pie-clearfix;
    font-size: 20px;
    padding-top: 10px;
    .subject{
      float: left;
    }
    .date{
      float: right;
      color: $color-lighter-black;
    }
    @include breakpoint($mobile){
      font-size: 16px;
      .subject{
        float: none;
        text-align: center;
      }
      .date{
        float: none;
        display: block;
        text-align: center;
      }
    }
  }
  .bx-controls-direction{
    position: absolute;
    width: 100%;
    top: 35%;
    left: 0;
    z-index: 10;
    
    a{
      display: block;
      width: 80px;
      height: 80px;
      background-color: rgba($color-active, .8);
      text-indent: 100%;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      // @include transition(all 275ms ease);
    }
    .bx-prev{
      left: 0;
      // background-position: 0 0;
      // background-image: url(#{$image-path}/icon-arrow_prev_b@2x.png);
      // background-size: 72px 70px;
      @include background-image-retina("#{$image-path}/icon-arrow_prev", "png", 10px, 20px);
      &:hover{
        // background-position: -36px 0;
      }
      &.disabled{
        &:hover{
          // background-position: 0 0;
        }
      }
    }
    .bx-next{
      // background-position: -36px 0;
      right: 0;
      // background-image: url(#{$image-path}/icon-arrow_next_b@2x.png);
      // background-size: 72px 70px;
      @include background-image-retina("#{$image-path}/icon-arrow_next", "png", 10px, 20px);
      &:hover{
        // background-position: 0 0;
      }
      &.disabled{
        &:hover{
          // background-position: -36px 0;
        }
      }
    }
    @include breakpoint($desktop){
      top: 50%;
      margin-top: -30px;
      a{
        width: 60px;
        height: 60px;
      }
    }
    @include breakpoint($pad){
      .bx-prev{
        left: -50px;
      }
      .bx-next{
        right: -50px;
      }
    }
    @include breakpoint($mobile){
      top: 40%;
      a{
        width: 50px;
        height: 50px;
      }
      .bx-prev{
        left: -10px;
        background-size: 15px 30px;
        background-image: url(#{$image-path}/icon-arrow_prev@2x.png);
        // background-size: 52px 50px;
        // &:hover{
        //   background-position: -26px 0;
        // }
      }
      .bx-next{
        right: -10px;
        background-size: 15px 30px;
        background-image: url(#{$image-path}/icon-arrow_next@2x.png);
        // background-position: -26px 0;
        // background-image: url(#{$image-path}/icon-arrow_next_m@2x.png);
        // background-size: 52px 50px;
      }
    }
    .disabled{
      @include opacity(.2);
      cursor: default;
    }
  }
  .msg{
    text-align: center;
    font-size: 18px;
    
  }
}

.event-timeline{
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #666;
    position: absolute;
    bottom: 76px;
    z-index: 0;
  }
  #timeline-list{
    // @include translate3d(25%, 0, 0);
    padding: 20px 0;
    position: relative;
    z-index: 2;
    .city{
      display: inline-block;
      position: relative;
      width: 735px;
      height: 173px;
      margin: 0;
      @include transition(all 400ms cubic-bezier(.67,0,.16,1));
      &:before{
        content: "";
        display: block;
        width: 735px;
        height: 173px;
        background-image: url(#{$image-path}/bg_pariscity.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 10px;
        left: -20px;
      }
    }
    .circle{
      display: inline-block;
      position: relative;
      vertical-align: top;
      top: 52px;
      width: 90px;
      height: 90px;
      margin: 0 20px;
      @include transition(all 400ms cubic-bezier(.67,0,.16,1));
      @include opacity(.3);
      
      &:before{
        content: "";
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        @include background-image(linear-gradient(120deg, #fff, #fff, #fff, #fff, #fff, #fff));
        z-index: 0;
        top: -5px;
        left: -5px;
        @include border-radius(50%);
        @include transition(all 400ms cubic-bezier(.67,0,.16,1));
      }
      &:after{
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        @include border-radius(50%);
        background-color: #666;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: -45px; 
        @include transition(all 400ms cubic-bezier(.67,0,.16,1));
      }
      &.is-active{
        @include opacity(1);
        &:before{
          width: 120px;
          height: 120px;
          top: -15px;
          left: -15px;
          @include box-shadow(2px 2px 5px rgba(0,0,0,.5));
          @include background-image(linear-gradient(120deg, #308CC8, #308CC8, #fff, #fff, #DC2443, #DC2443));
        }
        a{
          @include scale(1.2);
        }
        span{
          bottom: -60px;
        }
        &:after{
          width: 10px;
          height: 10px;
          @include background-image(linear-gradient(120deg, #308CC8, #308CC8, #fff, #fff, #DC2443, #DC2443));
          margin: -5px 0 0 -5px;
          bottom: -45px;
        }
      }
      &:hover{
        @include opacity(1);
        &:before{
          width: 120px;
          height: 120px;
          top: -15px;
          left: -15px;
          @include box-shadow(2px 2px 5px rgba(0,0,0,.5));
          @include background-image(linear-gradient(120deg, #308CC8, #308CC8, #fff, #fff, #DC2443, #DC2443));
        }
        span{
          bottom: -60px;
        }
        a{
          @include scale(1.2);
        }
      }
    }
  }
  a{
    display: block;
    width: 90px;
    height: 90px;
    @include border-radius(50%);
    // border: 5px solid white;
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    position: relative;
    @include transition(all 400ms cubic-bezier(.67,0,.16,1));
    z-index: 2;
    @include box-shadow(inset 0 0 10px rgba(0,0,0,.8));
  }
  span{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    bottom: -70px;
    @include transition(all 400ms cubic-bezier(.67,0,.16,1));
  }
  @include breakpoint($desktop-hd){
    margin: 1% auto 0;
  }
  @include breakpoint($desktop){
    width: 100%;
    li,
    a{
      width: 90px;
      height: 90px;
    }
  }
  @include breakpoint($pad){
    #timeline-list{
      padding: 0 0 20px 0;      
    }
    span{
      bottom: -80px;
    }
    .circle.is-active{
      
    }
  }
  @include breakpoint($mobile){
    a:before{
      bottom: -29px;
    }
  }
}

