.film{
  background-color: #111;
  background-image: url(#{$image-path}/bg-section_video.jpg);
  background-size: cover;
  background-position: center top;
  // padding-top: 2%;
  z-index: 1;
  .title{
    margin-bottom: 2%;
    h1 p{
      color: white;
    }
  }
  @include breakpoint($desktop-hd){
    // padding-top: 2%;
    .title{
      margin-bottom: 2%;
    }
  }
  @include breakpoint($pad){
    padding-top: 80px;
    padding-bottom: 50px;
  }
  @include breakpoint($mobile){
    .title{
      margin-bottom: 20px;
    }
  }
}

.video-area{
  @include pie-clearfix;
  margin: 0 auto;
}

.video-list{
  @include span(7);
  float: left;
  @include susy-breakpoint($desktop-hd, $susy-desktop-hd){
    @include span(7);
  }
  @include breakpoint($pad){
    width: 100%;
  }
  ul{
    @extend %ulreset;
  }
  li .video{
    position: relative;
    padding-bottom: 56.69%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  li iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .info{
    display: none;
  }
  .bx-controls{
    display: none;
  }
  @include breakpoint($pad){
    .info{
      display: block;
      background-color: $color-active;
      color: white;
      padding: 10px;
      @include box-sizing(border-box);
      .name{
        font-size: 18px;
      }
      .descripition{
        font-size: 15px;
      }
    }
    .bx-controls{
      display: block;
      position: relative;
      margin: 20px 0 0 0;
      .bx-pager{
        text-align: center;
        line-height: 100px;
        & > div{
          display: inline-block;
          vertical-align: middle;
        }
        & > div a{
          display: block;
          width: 6px;
          height: 6px;
          text-indent: -9999px;
          background-color: #c3c3c3;
          margin: 0 5px;
          @include border-radius(50%);
        }
        & > div.is-active a{
          width: 10px;
          height: 10px;
          background-color: white;
        }
      }
      .bx-controls-direction{
        position: absolute;
        top: 0;
        width: 100%;
        & > a{
          position: absolute;
          display: block;
          width: 36px;
          height: 70px;
          background-size: 72px 70px;
          text-indent: -99999px;
          background-repeat: no-repeat;
          @include transition(all 275ms ease);
        }
        .bx-prev{
          left: 0;
          background-position: 0 0;
          background-image: url(#{$image-path}/icon-arrow_prev_b@2x.png);
          background-size: 72px 70px;
          // @include background-image-retina("#{$image-path}/icon-arrow_prev_b", "png", 72px, 70px);
          &:hover{
            background-position: -36px 0;
          }
        }
        .bx-next{
          background-position: -36px 0;
          right: 0;
          background-image: url(#{$image-path}/icon-arrow_next_b@2x.png);
          background-size: 72px 70px;
          // @include background-image-retina("#{$image-path}/icon-arrow_next_b", "png", 72px, 70px);
          &:hover{
            background-position: 0 0;
          }
        }
      }
    }
  }
  @include breakpoint($mobile){
    .info{
      .name{
        font-size: 16px;
      }
      .descripition{
        font-size: 13px;
      }
    }
    .bx-controls{
      .bx-pager{
        line-height: 50px;
      }
      .bx-controls-direction{
        & > a{
          width: 26px;
          height: 50px;
          background-size: 52px 50px;
        }
        .bx-prev{
          background-image: url(#{$image-path}/icon-arrow_prev_m@2x.png);
          background-size: 52px 50px;
          &:hover{
            background-position: -26px 0;
          }
        }
        .bx-next{
          background-position: -26px 0;
          right: 0;
          background-image: url(#{$image-path}/icon-arrow_next_m@2x.png);
          background-size: 52px 50px;
          &:hover{
            background-position: 0 0;
          }
        }
      }
    }
  }
}

.video-menu{
  @include span(5 last);
  // float: left;
  background-color: rgba(#1d1d1d, .7);
  ul{
    @extend %ulreset;
  }
  li{
    padding: 15px;
    background-position: center top;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid #303030;
    &:before,
    &:after{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include transition(all 400ms ease);
    }
    &:before{
      background-color: $color-active;
      @include opacity(0);
    }
    &:after{
      background-color: #1d1d1d;
      z-index: 0;
      @include opacity(1);
    }
    &:hover,
    &.is-active{
      &:before{
        @include opacity(.9);
      }
      &:after{
        @include opacity(0);
      }
      .descripition{
        display: block;
      }
    }
  }
  a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    z-index: 2;
  }
  .name{
    margin-bottom: 10px;
  }
  .descripition{
    display: none;
  }
  @include susy-breakpoint($desktop-hd, $susy-desktop-hd){
    @include span(5 last);
    li{
      padding: 10px;
    }
    .name{
      margin-bottom: 5px;
    }
  }
  @include breakpoint($pad){
    display: none;
  }
}